
* {
    box-sizing: border-box;
}

body
 {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

/* css for main banner section */

.main-banner {
    background: url("/img/Sokolik.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content: center;  
}

.main-banner_button {
    border: 2px solid white;
    padding: 20px 30px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    background: black;
    transition: 0.3s;
}

.main-banner_button:hover {
  opacity: 0.6;
}

/* css for about section */

.container_about {
    width: 1180px;
    margin: auto;
    max-width: 100%;
    padding: 60px 20px;
}

.about {
    display: flex;
    align-items: center;
}
.about_text {
    margin-right: 20px;
}

.about_header {
    font-size: 30px;
}

.about-paragraph {
    font-size: 18px;
    line-height: 2px;
}

.about_image {
    width: 400%;
    margin-right: 40px;
}

/* css for main navigation section */

.main-navigation {
    position: fixed;
    top:0px;
    left: 0px;
    right: 0px;
    background: rgb(0, 0, 0,0.5);
    padding: 20px;;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.main-navigation_logo {
    width: 90px;
    margin-right: 20px;  
}

.main-navigation_logo-link {
    text-decoration: none;
    color: white;
    display:flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 35px;
}

.main-navigation_link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.main-navigation_inner {
  display: flex;
  align-self: center;
  justify-content: space-between;
  max-width: 1350px;
  margin: 0 auto;
  align-items: center;
}


.main-navigation_menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.main-navigation_item {
    list-style: none;
}

/* css for bookmarks  */

.bookmark {
   background-color: aqua;
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
    z-index: 0;
}

.bookmark::after {  
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0 ,0, 0.5);
    z-index: -1;
}

.bookmark_header {
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;
}

.bookmark_header::after,
.bookmark_header::before {
    content: " - ";
    font-weight: normal;
}

/* css for products section */

.product_container {
    display: flex;
    margin-bottom: 20px;
}

.products {
    display:flex;
}

.menu_column {
    flex-basis: 33%;
    padding: 0 15px;
}

.menu_header {
    font-size: 30px;
    text-transform: uppercase;
}

.menu_list {
    list-style: none;
}

.menu-list_item {
    margin: 30px 0;
}

.menu_position {
    display:flex;
    margin: 10px 0;
    align-items: baseline;
    
}

.menu_position::after {
    content: "";
    border-top: 2px dotted;
    flex-grow: 1;
    order: 2;
}

.menu_position_price {
    order: 3;
}

.menu_position_name {
    text-transform: uppercase;
}

/* css for gallery */

.container_gallery {
    width: 1180px;
    margin: auto;
    max-width: 100%;
    padding: 60px 20px;
}

.gallery {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery_image {
    width: 100%;
}

/* css for contact form */

.container_contact{
    width: 1180px;
    margin: auto;
    max-width: 100%;
    padding: 60px 20px;
}

.contact-form_info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.contact-form_info-item {
    display: flex;
    align-items: center;
    margin: 0 30px;

}

.contact-form_info-icon {
    height: 25px;
    margin-right: 10px;
}

.contact-form_info-link {
    color: black;
    text-decoration: none;
    font-size: 22px;

}

.contact-form_info-header {
    text-align: center;
    margin: 0 0 50px 0;
    line-height: 1.5;
    font-size: 20px;

}

/* css for map */

.map {
    display: block;
    width: 100%;
    height: 50vh;
    border: none;
}

.footer {
    background: black;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
